*.ipynb_checkpoints*
.nextflow*
work/
work_old/
data/
debug/
*results*/
.DS_Store
test_data/test_results
singularity*/
run_scripts_qtlmap/
.Rhistory
slurm-*.out
submit*.sh
.Rproj.user
qtlmap.Rproj
GEUVADIS_GBR20
/Alasoo_2018_test
