/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  container = params.container

  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  maxRetries = 3
  maxErrors = '-1'

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  
  // Process-specific resource requirements
  withName: extract_all_variant_info {    
    memory = 100.MB
    cpus = 1
  }
  withName: create_QTLTools_input {
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    cpus = 1
  }
  withName: compress_bed {
    memory = 100.MB
    cpus = 1
  }
  withName: extract_samples {
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
  }
  withName: extract_variant_info {
    memory = 100.MB
    cpus = 1
  }
  withName: make_pca_covariates {
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    cpus = 4
  }
  withName: run_permutation {
    memory = { check_max( 5.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 12.h * task.attempt, 'time' ) }
  }  
  withName: run_nominal {
    memory = { check_max( 5.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }
  withName: merge_nominal_batches {
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withName: merge_permutation_batches {
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
  }
  withName: replace_space_tabs {
    memory = 1.GB
    cpus = { check_max( 2, 'cpus' ) }
  }
  withName: sort_qtltools_output {
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 10, 'cpus' ) }
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
  withName: index_qtltools_output {
    memory = 1.GB
    cpus = 1
  }  
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 120.h
}
