/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue QTL mapping pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  cis_window = 1000000
  n_geno_pcs = 6
  n_pheno_pcs = 6
  run_permutation = true
  n_batches = 400
  mincisvariant = 5
  tpm_file = "null"
}
