/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue QTL mapping pipeline.
 * ---------------------------------------------------------------------------
 */

params {
  cis_window = 1000000
  n_geno_pcs = 6
  n_pheno_pcs = 6
  run_permutation = true
  n_batches = 400
  mincisvariant = 5
  n_permutations = 1000
  run_susie = true
  write_full_susie = false
  varid_rsid_map_file = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v0.1/dbSNP_b151_GRCh38p7_splitted_var_rsid.vcf.gz"
}
