/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

params {
  expression_matrix = "$baseDir/data/test_qtlGroup/count_matrix_inter_table.tsv"
  phenotype_metadata = "$baseDir/data/test_qtlGroup/gene_metadata_inter.tsv"
  sample_metadata = "$baseDir/data/test_qtlGroup/sample_meta_inter.tsv"
  genotype_vcf = "/gpfs/hpc/home/a72094/datasets/controlled_access/Fairfax_2014/genotypes/Michigan_GRCh37_1KGPhase3_061118/GRCh38/Fairfax_2014_GRCh38.filtered.renamed.vcf.gz"
}

executor {
    name = 'slurm'
    queueSize = 40
}

process {
  executor = 'slurm'
  
  // Process-specific resource requirements
  // TODO nf-core: Customise requirements for specific processes
  
  
  withName: extract_all_variant_info {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load bcftools-1.8'
    memory = 100.MB
    cpus = 1
  }
  withName: create_QTLTools_input {
    beforeScript = 'module load R-3.4.1'
    memory = 20.GB
    cpus = 1
  }
  withName: compress_bed {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load samtools-1.6'
    memory = 100.MB
    cpus = 1
  }
  withName: extract_samples {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load bcftools-1.8'
    memory = 1.GB
    cpus = 1
  }
  withName: extract_variant_info {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load bcftools-1.8'
    memory = 100.MB
    cpus = 1
  }
  withName: perform_pca {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    memory = 2.GB
    cpus = 1
  }
  withName: run_permutation {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    memory = 5.GB
    cpus = 1
    time = '4h'
    // process.scratch = true
  }
  withName: merge_permutation_batches {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load samtools-1.6'
    memory = 100.MB
    cpus = 1
  } //run_nominal can be used together with run_permutation
  withName: run_nominal {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    memory = 5.GB
    cpus = 1
    //process.scratch = true
  }
  withName: merge_nominal_batches {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load samtools-1.6'
    memory = 100.MB
    cpus = 1
  }
  withName: replace_space_tabs {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    memory = 1.GB
    cpus = 2
  }
  withName: sort_qtltools_output {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load samtools-1.6'
    memory = 12.GB
    cpus = 10
    time = '12h'
  }
  withName: index_qtltools_output {
    // errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
    beforeScript = 'module load samtools-1.6'
    memory = 1.GB
    cpus = 1
  }
  
//   withName: multiqc {
//     errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
//   }
}

