/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  beforeScript = 'module load singularity'
}

