/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/qtlmap -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  expression_matrix = "$baseDir/testdata/GEUVADIS_cqn.tsv"
  phenotype_metadata = "$baseDir/testdata/GEUVADIS_phenotype_metadata.tsv"
  sample_metadata = "$baseDir/testdata/GEUVADIS_sample_metadata.tsv"
  genotype_vcf = "$baseDir/testdata/GEUVADIS_genotypes.vcf.gz"

  cis_window = 1000000
  mincisvariant = 5
  n_batches = 10
  is_imputed = false
  n_geno_pcs = 3
  n_pheno_pcs = 3
  run_permutation = true
}

singularity {
  enabled = true
  autoMounts = true
}