/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/qtlmap -profile test
 */

params {
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  readPathsFile = "$baseDir/multi_test.tsv"
  outdir = "$baseDir/test_results"

  cis_window = 1000000
  mincisvariant = 5
  n_batches = 10
  is_imputed = false
  n_geno_pcs = 3
  n_pheno_pcs = 3
  run_permutation = true
}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 30
}

process {
  executor = 'slurm'
  beforeScript = 'module load singularity'
}