/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/qtlmap -profile test
 */

params {
  // Defaults only, expecting to be overwritten
  max_memory = 10.GB
  max_cpus = 2
  max_time = 2.h

  // Input data
  studyFile = "$baseDir/testdata/multi_test.tsv"
  outdir = "$baseDir/testdata/test_results"
  varid_rsid_map_file = "$baseDir/testdata/varid_rsid_map.tsv.gz"

  cis_window = 1000000
  mincisvariant = 5
  n_batches = 25
  n_geno_pcs = 3
  n_pheno_pcs = 3
  run_permutation = false
  vcf_has_R2_field = false

  // Resources for sorting summary statistics
  sumstat_sort_cores = 2
  sumstat_sort_mem = '4G'
}
trace.overwrite = true
